basePath: /
definitions:
  code.Code:
    enum:
    - 1000
    - 2001
    - 2002
    - 2003
    - 2004
    - 2005
    - 2006
    - 2007
    - 2008
    - 2009
    - 2010
    - 3001
    - 4001
    - 5001
    - 5002
    - 5003
    format: int64
    type: integer
    x-enum-varnames:
    - CodeSuccess
    - CodeInvalidParams
    - CodeUserExist
    - CodeUserNotExist
    - CodeInvalidPassword
    - CodeNotMatchPassword
    - CodeInvalidToken
    - CodeNotLogin
    - CodeInvalidCaptcha
    - CodeRecordNotFound
    - CodeIllegalPassword
    - CodeForbidden
    - CodeServerBusy
    - AIModelNotFind
    - AIModelCannotOpen
    - AIModelFail
  common.Response:
    properties:
      status_code:
        $ref: '#/definitions/code.Code'
      status_msg:
        type: string
    type: object
  user.CaptchaRequest:
    properties:
      email:
        type: string
    required:
    - email
    type: object
  user.CaptchaResponse:
    properties:
      status_code:
        $ref: '#/definitions/code.Code'
      status_msg:
        type: string
    type: object
  user.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  user.LoginResponse:
    properties:
      status_code:
        $ref: '#/definitions/code.Code'
      status_msg:
        type: string
      token:
        type: string
    type: object
  user.RegisterRequest:
    properties:
      captcha:
        type: string
      email:
        type: string
      password:
        type: string
    required:
    - email
    type: object
  user.RegisterResponse:
    properties:
      status_code:
        $ref: '#/definitions/code.Code'
      status_msg:
        type: string
      token:
        type: string
    type: object
host: localhost:9091
info:
  contact: {}
  description: WsAI 项目 Swagger 文档
  title: WsAI Backend API
  version: "1.0"
paths:
  /api/v1/user/captcha:
    post:
      consumes:
      - application/json
      description: 向指定邮箱发送注册验证码
      parameters:
      - description: 邮箱参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.CaptchaRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 验证码发送成功
          schema:
            $ref: '#/definitions/user.CaptchaResponse'
        "400":
          description: 邮箱格式错误
          schema:
            $ref: '#/definitions/common.Response'
        "429":
          description: 发送过于频繁
          schema:
            $ref: '#/definitions/common.Response'
      summary: 发送邮箱验证码
      tags:
      - 用户认证
  /api/v1/user/login:
    post:
      consumes:
      - application/json
      description: 根据用户名和密码登录，返回 JWT token
      parameters:
      - description: 登录参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 登录成功，返回 token
          schema:
            $ref: '#/definitions/user.LoginResponse'
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/common.Response'
        "401":
          description: 用户名或密码错误
          schema:
            $ref: '#/definitions/common.Response'
      summary: 用户登录
      tags:
      - 用户认证
  /api/v1/user/users:
    post:
      consumes:
      - application/json
      description: 通过邮箱、密码和验证码注册新用户，成功后直接返回登录 token
      parameters:
      - description: 注册参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 注册成功，返回 token
          schema:
            $ref: '#/definitions/user.RegisterResponse'
        "400":
          description: 参数错误或验证码错误
          schema:
            $ref: '#/definitions/common.Response'
        "409":
          description: 用户已存在
          schema:
            $ref: '#/definitions/common.Response'
      summary: 用户注册
      tags:
      - 用户认证
swagger: "2.0"
